<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comments</title>
</head>
<body>
<form action="/add_comment" method="post">
    <label for="comment">Comment: </label>
    <input type="text" name="comment" id="comment" value="Placeholder"><br>
    <input type="Submit" value="Comment">
</form>
<h2>Comments</h2>
{% if comments %}
    {% for comment in comments %}
        {% if is_safe %}
            <div>{{ comment }}</div>
        {% else %}
            <div>{{ comment | safe }}</div>
        {% endif %}
    {% endfor %}
{% endif %}

{% if is_auth %}
    <p><a href="/delete_comments">Delete all comments</a></p>
{% endif %}

</body>
</html>